In [1]:
import pandas as pd
import io
import requests

In [2]:
url="https://rahulvaishstorageaccount.blob.core.windows.net/mycontainer/myfolder/iris.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [4]:
c.head(3)

   sepallength  sepalwidth  petallength  petalwidth  class
0          4.7         3.2          1.3         0.2      1
1          4.6         3.1          1.5         0.2      1
2          5.0         3.6          1.4         0.2      1