In [2]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
from sklearn.externals import joblib
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [3]:
titanicCompleteData= pd.read_csv("C:\\Users\\Lenovo\\Desktop\\IPY\MachineLearning-Python-Titanic\\Data\\titanic.csv")

In [4]:
titanicCompleteData.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [5]:
titanicCompleteData.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [6]:
titanicCompleteData.shape

(1309, 14)

In [8]:
# Total number of recods = 1310
# Number of Records chosen for Building Model = 800
# Number of Records chosen for Testing Model = 200 (20% of 1000 = 200)
# Number of Records(extra) chosen for Testing Model = 310

In [9]:
analysisDataframe = titanicCompleteData


![image](https://user-images.githubusercontent.com/689226/79669909-bce2f480-81dc-11ea-8dff-f4be141712a3.png)

In [10]:
#Pandas has a method called 'cut'. The method is used for segmenting into categories.
#We are planning to introduce a new column 'Age Categories' in the Training set.
#We will use 'cut' to segment the ages into defined categories.
#EXAMPLE:
#-1 - 0 = Missing
#0 - 5 = Infant
#5 - 12 = Child
#12 - 18 = Teenager
#18 - 35 = Young Adult
#35 - 60 = Adult
#60 - 100 = Senior

In [11]:
def process_age(df,cut_points,label_names):
    df["age"] = df["age"].fillna(-0.5)
    df["Age_categories"] = pd.cut(df["age"],cut_points,labels=label_names)
    return df

In [14]:
cut_points = [-1,0,5,12,18,35,60,100]
label_names = ["Missing","Infant","Child","Teenager","Young Adult","Adult","Senior"]

analysisDataframe = process_age(analysisDataframe,cut_points,label_names)

In [15]:
print(analysisDataframe.shape)#Introduced  'Age_categories'

(1309, 15)

In [13]:
#Perfoming 'Dummy Encoding/ One-Hot Encoding':

In [16]:
analysisDataframe.loc[analysisDataframe['pclass'] ==1, 'pclass'] = 'PC1'
analysisDataframe.loc[analysisDataframe['pclass'] ==2, 'pclass'] = 'PC2'
analysisDataframe.loc[analysisDataframe['pclass'] ==3, 'pclass'] = 'PC3'


analysisDataframe=analysisDataframe[['pclass','Age_categories','sex','survived']]
analysisDataframe=pd.get_dummies(analysisDataframe)
analysisDataframe.head()

,survived,pclass_PC1,pclass_PC2,pclass_PC3,Age_categories_Missing,Age_categories_Infant,Age_categories_Child,Age_categories_Teenager,Age_categories_Young Adult,Age_categories_Adult,Age_categories_Senior,sex_female,sex_male
0,1,1,0,0,0,0,0,0,1,0,0,1,0
1,1,1,0,0,0,1,0,0,0,0,0,0,1
2,0,1,0,0,0,1,0,0,0,0,0,1,0
3,0,1,0,0,0,0,0,0,1,0,0,0,1
4,0,1,0,0,0,0,0,0,1,0,0,1,0

In [17]:
#New Columns
print(analysisDataframe.columns)

Index(['survived', 'pclass_PC1', 'pclass_PC2', 'pclass_PC3',
       'Age_categories_Missing', 'Age_categories_Infant',
       'Age_categories_Child', 'Age_categories_Teenager',
       'Age_categories_Young Adult', 'Age_categories_Adult',
       'Age_categories_Senior', 'sex_female', 'sex_male'],
      dtype='object')

In [18]:
# Encoding Male as 1 and Female as 0

In [19]:
analysisDataframe = analysisDataframe.replace({'sex':{'male':1,'female':0}})

In [20]:
print(analysisDataframe.shape)

(1309, 13)

In [21]:
selectdColumns = ['pclass_PC1','pclass_PC2', 'pclass_PC3', 'Age_categories_Infant',
       'Age_categories_Child', 'Age_categories_Teenager',
       'Age_categories_Young Adult', 'Age_categories_Adult',
       'Age_categories_Senior', 'sex_male']
targetColumn = ["survived"]

In [22]:
#lr = LogisticRegression()

In [23]:
#lr.fit(trainData[selectdColumns], trainData["survived"])

In [24]:
rf = RandomForestClassifier (n_estimators=100)

In [25]:
#IMPORTANT: Now we are SPLITTING our Analysis Dataframe into analysisDataframe(1000 rows) and untouchedDataframe(310 rows).

![image](https://user-images.githubusercontent.com/689226/79669942-f0258380-81dc-11ea-88e3-062c1a11dc36.png)

In [26]:
analysisDataframe = analysisDataframe.head(1000)
untouchedDataframe = analysisDataframe.tail(310)

In [27]:
all_X = analysisDataframe[selectdColumns]
all_y = analysisDataframe[targetColumn]

train_X, test_X, train_y, test_y = train_test_split(
    all_X, all_y, test_size=0.20,random_state=0)

rf.fit(train_X, train_y)
predictions = rf.predict(test_X)
print(predictions)
accuracy = accuracy_score(test_y, predictions)
print(accuracy)

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  import sys

[0 1 0 1 0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 1 0 0 1 0 1 0 0 0 0 0 1 1 1 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1
 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 1 1
 1 0 0 1 1 1 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 1
 1 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 1 1 0
 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0]
0.765

In [28]:
# Performing 10 FOLD Cross Validation

In [29]:
scores = cross_val_score(rf, all_X, all_y.values.ravel(), cv=10)
scores.sort()
accuracy = scores.mean()

print(scores)
print(accuracy)

[0.60606061 0.61616162 0.77227723 0.77227723 0.80808081 0.81
 0.82178218 0.84       0.84       0.88      ]
0.7766639663966397

In [30]:
############  NOW TIME TO USE UNSEEN DATA #################

In [31]:
predictions = rf.predict(untouchedDataframe[selectdColumns])

In [32]:
print(predictions)

[0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [33]:
#Now we have predictions. Time to calculate score between predictions and untouchedTestData's Survived Values

In [34]:
accuracy = accuracy_score(untouchedDataframe[targetColumn], predictions)

In [35]:
print(accuracy)

0.7645161290322581