In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Lenovo/Downloads/Data/Loan.csv', skiprows=1, low_memory=False)

In [3]:
print(df.columns)
print(len(df.columns))

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)
145

## Select Columns From Dataframe

In [4]:
df[['loan_amnt','settlement_date']]

       loan_amnt settlement_date
0         5000.0             NaN
1         2500.0             NaN
2         2400.0             NaN
3        10000.0             NaN
4         3000.0             NaN
5         5000.0             NaN
6         7000.0             NaN
7         3000.0             NaN
8         5600.0             NaN
9         5375.0             NaN
10        6500.0             NaN
11       12000.0             NaN
12        9000.0             NaN
13        3000.0             NaN
14       10000.0             NaN
15        1000.0             NaN
16       10000.0             NaN
17        3600.0             NaN
18        6000.0             NaN
19        9200.0             NaN
20       20250.0             NaN
21       21000.0             NaN
22       10000.0             NaN
23       10000.0             NaN
24        6000.0             NaN
25       15000.0             NaN
26       15000.0             NaN
27        5000.0             NaN
28        4000.0             NaN
29        8500.0             NaN
...          ...             ...
42508     6000.0             NaN
42509     5350.0             NaN
42510     1900.0             NaN
42511    10000.0             NaN
42512     2000.0             NaN
42513     6000.0             NaN
42514     4400.0             NaN
42515     1200.0             NaN
42516     5000.0             NaN
42517     1400.0             NaN
42518     1000.0             NaN
42519     5000.0             NaN
42520     2500.0             NaN
42521     3000.0             NaN
42522     2600.0             NaN
42523     1000.0             NaN
42524     1275.0             NaN
42525     6450.0             NaN
42526    10500.0             NaN
42527     3000.0             NaN
42528     3000.0             NaN
42529     2000.0             NaN
42530     6500.0             NaN
42531     3500.0             NaN
42532     1000.0             NaN
42533     2525.0             NaN
42534     6500.0             NaN
42535     5000.0             NaN
42536        NaN             NaN
42537        NaN             NaN

[42538 rows x 2 columns]

### Drop the useless columns, on first instance we noticed URL and DESCRIPTION.

In [40]:
df = df.drop(['url','desc'],axis=1)

In [41]:
print(len(df.columns))

143

### Understanding NULL values

In [42]:
#Understanding NULL values and sorting them !
Isnull=df.isnull().sum()
Isnull.sort_values(inplace=True, ascending=False)
print(Isnull)

inq_last_12m                      42538
total_bal_il                      42538
mths_since_recent_bc_dlq          42538
mths_since_recent_inq             42538
mths_since_recent_revol_delinq    42538
num_accts_ever_120_pd             42538
num_actv_bc_tl                    42538
num_actv_rev_tl                   42538
num_bc_sats                       42538
num_bc_tl                         42538
num_il_tl                         42538
num_op_rev_tl                     42538
num_rev_accts                     42538
num_rev_tl_bal_gt_0               42538
num_sats                          42538
num_tl_120dpd_2m                  42538
num_tl_30dpd                      42538
num_tl_90g_dpd_24m                42538
num_tl_op_past_12m                42538
mths_since_recent_bc              42538
mort_acc                          42538
mo_sin_rcnt_tl                    42538
mths_since_rcnt_il                42538
open_rv_12m                       42538
open_rv_24m                       42538
max_bal_bc                        42538
all_util                          42538
total_rev_hi_lim                  42538
inq_fi                            42538
total_cu_tl                       42538
                                  ...
issue_d                               3
funded_amnt                           3
home_ownership                        3
loan_amnt                             3
sub_grade                             3
grade                                 3
installment                           3
int_rate                              3
term                                  3
purpose                               3
disbursement_method                   3
zip_code                              3
total_rec_late_fee                    3
debt_settlement_flag                  3
hardship_flag                         3
application_type                      3
policy_code                           3
last_pymnt_amnt                       3
collection_recovery_fee               3
recoveries                            3
total_rec_int                         3
addr_state                            3
total_rec_prncp                       3
total_pymnt_inv                       3
total_pymnt                           3
out_prncp_inv                         3
out_prncp                             3
initial_list_status                   3
dti                                   3
revol_bal                             3
Length: 143, dtype: int64

### Calculating 50% of the data. We will use this output to set our threshold point.

In [43]:
half_count = len(df) / 2
df = df.dropna(thresh=half_count,axis=1) # Drop any column with more than 50% missing values

In [44]:
print(len(df.columns))

53

In [45]:
#Re-Checking NULL values and sorting them !
Isnull=df.isnull().sum()
Isnull.sort_values(inplace=True, ascending=False)
print(Isnull)

emp_title                     2629
pub_rec_bankruptcies          1368
emp_length                    1115
chargeoff_within_12_mths       148
collections_12_mths_ex_med     148
tax_liens                      108
revol_util                      93
last_pymnt_d                    86
delinq_2yrs                     32
delinq_amnt                     32
acc_now_delinq                  32
earliest_cr_line                32
inq_last_6mths                  32
open_acc                        32
pub_rec                         32
total_acc                       32
title                           16
annual_inc                       7
last_credit_pull_d               7
zip_code                         3
pymnt_plan                       3
purpose                          3
funded_amnt                      3
funded_amnt_inv                  3
term                             3
int_rate                         3
installment                      3
sub_grade                        3
grade                            3
loan_status                      3
issue_d                          3
verification_status              3
home_ownership                   3
debt_settlement_flag             3
revol_bal                        3
addr_state                       3
dti                              3
hardship_flag                    3
application_type                 3
policy_code                      3
last_pymnt_amnt                  3
collection_recovery_fee          3
recoveries                       3
total_rec_late_fee               3
total_rec_int                    3
total_rec_prncp                  3
total_pymnt_inv                  3
total_pymnt                      3
out_prncp_inv                    3
out_prncp                        3
initial_list_status              3
disbursement_method              3
loan_amnt                        3
dtype: int64

### Talking about Missing Values

In [46]:
df['funded_amnt'].fillna((df['funded_amnt'].mean()), inplace=True)

### Dataframe Query

In [47]:
df[(df['installment'] > 150) & (df['funded_amnt'] > 3000)]

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag
0,5000.0,5000.0,4975.000000,36 months,10.65%,162.87,B,B2,NaN,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
3,10000.0,10000.0,10000.000000,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
5,5000.0,5000.0,5000.000000,36 months,7.90%,156.46,A,A4,Veolia Transportaton,3 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
6,7000.0,7000.0,7000.000000,60 months,15.96%,170.08,C,C5,Southern Star Photography,8 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
8,5600.0,5600.0,5600.000000,60 months,21.28%,152.39,F,F2,NaN,4 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
10,6500.0,6500.0,6500.000000,60 months,14.65%,153.45,C,C3,Southwest Rural metro,5 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
11,12000.0,12000.0,12000.000000,36 months,12.69%,402.54,B,B5,UCLA,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
12,9000.0,9000.0,9000.000000,36 months,13.49%,305.38,C,C1,Va. Dept of Conservation/Recreation,< 1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
14,10000.0,10000.0,10000.000000,36 months,10.65%,325.74,B,B2,SFMTA,3 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
16,10000.0,10000.0,10000.000000,36 months,15.27%,347.98,C,C4,Chin's Restaurant,4 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
18,6000.0,6000.0,6000.000000,36 months,11.71%,198.46,B,B3,Connection Inspection,1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
19,9200.0,9200.0,9200.000000,36 months,6.03%,280.01,A,A1,Network Interpreting Service,6 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
20,20250.0,20250.0,19142.161077,60 months,15.27%,484.63,C,C4,Archdiocese of Galveston Houston,3 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
21,21000.0,21000.0,21000.000000,36 months,12.42%,701.73,B,B4,Osram Sylvania,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
22,10000.0,10000.0,10000.000000,36 months,11.71%,330.76,B,B3,Value Air,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
23,10000.0,10000.0,10000.000000,36 months,11.71%,330.76,B,B3,Wells Fargo Bank,5 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
24,6000.0,6000.0,6000.000000,36 months,11.71%,198.46,B,B3,bmg-educational,1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
25,15000.0,15000.0,15000.000000,36 months,9.91%,483.38,B,B1,Winfield Pathology Consultants,2 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
26,15000.0,15000.0,8725.000000,36 months,14.27%,514.64,C,C2,nyc transit,9 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
29,8500.0,8500.0,8500.000000,36 months,11.71%,281.15,B,B3,Oakridge homes,< 1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
31,31825.0,31825.0,31825.000000,36 months,7.90%,995.82,A,A4,Audubon Mutual Housing Corporation,5 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
32,10000.0,10000.0,9975.000000,60 months,15.96%,242.97,C,C5,US Legal Support,2 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
33,5000.0,5000.0,5000.000000,36 months,8.90%,158.77,A,A5,Good Samaritan Society,2 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
34,7000.0,7000.0,7000.000000,36 months,15.96%,245.97,C,C5,GREG BARRETT DRYWALL,7 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
35,12400.0,12400.0,12400.000000,36 months,10.65%,403.91,B,B2,Sharp Lawn Inc.,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
36,10800.0,10800.0,10800.000000,36 months,9.91%,348.03,B,B1,Department of Justice,2 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
37,15000.0,15000.0,15000.000000,36 months,7.90%,469.36,A,A4,Gateway Hospice,1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
38,6000.0,6000.0,6000.000000,36 months,12.42%,200.50,B,B4,Cox Communications,1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
39,12500.0,12500.0,12475.000000,60 months,12.69%,282.44,B,B5,United States Infrastructure Corporation,1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
40,9600.0,9600.0,9600.000000,36 months,7.51%,298.67,A,A3,Nucor Building Systems,4 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42468,12000.0,12000.0,850.000000,36 months,14.38%,412.37,E,E4,Robert Wood Johnson/ Saint Peters,1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,0.0,N,Cash,N
42469,13000.0,13000.0,825.000000,36 months,17.22%,464.95,G,G3,"INSTTITUTE FOR CHILD AND FAMILY HEALTH, INC.",1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,0.0,N,Cash,N
42470,8000.0,8000.0,1400.000000,36 months,16.91%,284.86,G,G2,Publix Supermarkets,10+ years,...,1.0,Individual,0.0,NaN,0.0,NaN,0.0,N,Cash,N
42471,10000.0,10000.0,1775.000000,36 months,15.01%,346.73,F,F1,HSBC USA,< 1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,0.0,N,Cash,N
42472,8000.0,8000.0,4025.000000,36 months,9.96%,257.99,B,B5,New England Quality Electric,3 years,...,1.0,Individual,0.0,NaN,0.0,NaN,0.0,N,Cash,N
42474,13000.0,13000.0,700.000000,36 months,10.91%,425.04,C,C3,"LendingTree, LLC",2 years,...,1.0,Individual,0.0,NaN,0.0,1.0,0.0,N,Cash,N
42475,5000.0,5000.0,1075.000000,36 months,14.07%,171.05,E,E3,0CEAN VIEW INTL REALTY/C21 UNITED PLATINUM,2 years,...,1.0,Individual,1.0,NaN,6053.0,NaN,NaN,N,Cash,N
42476,10500.0,10500.0,1125.000000,36 months,15.33%,365.69,F,F2,Protiviti Inc,< 1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,0.0,N,Cash,N
42481,6700.0,6700.0,6700.000000,36 months,7.75%,209.18,A,A3,NaN,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42488,9000.0,9000.0,1425.000000,36 months,15.96%,316.25,F,F4,"Rock, Paper, Scissors",< 1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42490,5000.0,5000.0,1100.000000,36 months,11.22%,164.23,C,C4,Eklektik Art Inc,3 years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42493,4500.0,4500.0,1325.000000,36 months,12.49%,150.52,D,D3,McCamey Family,1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42494,5000.0,5000.0,350.000000,36 months,11.54%,164.98,C,C5,Outstanding Pool & Spa,9 years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42495,7200.0,5075.0,350.000000,36 months,10.28%,164.42,C,C1,NaN,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42498,10000.0,10000.0,525.000000,36 months,14.70%,345.18,E,E5,"rombra us, inc",< 1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42500,15600.0,8000.0,775.000000,36 months,11.86%,265.17,D,D1,jenny craig weight loss,10+ years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,Y
42504,10000.0,10000.0,1450.000000,36 months,10.59%,325.46,C,C2,NaN,2 years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42505,20000.0,20000.0,700.000000,36 months,15.01%,693.45,F,F1,hf palm corp,2 years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42506,6725.0,6725.0,825.000000,36 months,13.12%,226.98,D,D5,MCHCP,10+ years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42508,6000.0,6000.0,1200.000000,36 months,13.12%,202.51,D,D5,SUNY- ESF,2 years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42509,5350.0,5350.0,625.000000,36 months,13.12%,180.57,D,D5,Clinton Shop Rite of Hunterdon County,1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42511,10000.0,10000.0,350.000000,36 months,14.70%,345.18,E,E5,GA-PCOM,1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42513,6000.0,6000.0,650.000000,36 months,10.59%,195.28,C,C2,Yale University,< 1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42516,5000.0,5000.0,375.000000,36 months,11.22%,164.23,C,C4,Compensation Solutions,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42519,5000.0,5000.0,300.000000,36 months,7.75%,156.11,A,A3,Diamond Management and Technology Consultants,10+ years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42525,6450.0,6450.0,0.000000,36 months,11.22%,211.85,C,C4,Apto Solutions,2 years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42526,10500.0,10500.0,275.000000,36 months,11.22%,344.87,C,C4,Town of Plainville,3 years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42530,6500.0,6500.0,0.000000,36 months,9.64%,208.66,B,B4,Air Force,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42534,6500.0,6500.0,0.000000,36 months,8.38%,204.84,A,A5,NaN,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42535,5000.0,5000.0,0.000000,36 months,7.75%,156.11,A,A3,Homemaker,10+ years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N

### Split

In [ ]:
# Let's assume we have a dataframe and there we have a column 'release_date'. An example value is 1995-10-30.
#Now you want to extract only year from this date, so we can do something similar...

for date in df['release_date']:
    df['release_date']=(((str(date)).split('-'))[0])

### Replace - 1 [NORMAL REPLACE]

In [ ]:
#Assume that in the  we have a junk value as 'NaT' and we want to replace it with 0. We can accomplish that by-
df['release_date'].replace(['NaT'], '0')

### Replace - 2 [FOR TWO VALUES]

In [ ]:
trainData = trainData.replace({'sex':{'male':1,'female':0}})

### Replace - 2 [SPARSE MATRIX WAY]

In [ ]:
trainData['PClass1'] = np.where(trainData['pclass']==1, '1', '0')
trainData['PClass2'] = np.where(trainData['pclass']==2, '1', '0')
trainData['PClass3'] = np.where(trainData['pclass']==3, '1', '0')