In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\Lenovo\\Desktop\\IPY\\DataCleaning\\Data\\Loan.csv', skiprows=1, low_memory=False)

In [3]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

# Exploring Types
#### <p style="color:Green;">Double Dimention- DataFrame | One Dimention - Series</p>

In [4]:
print(type(df.shape))
print(type(df.columns))

<class 'tuple'>
<class 'pandas.core.indexes.base.Index'>

## ```DataFrame['COL NAME']---->Series```

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [6]:
print(type(df['grade'])) #Preferred Way

<class 'pandas.core.series.Series'>

## ```Series + Series + .... = Series```

In [7]:
f=df['grade']+df['grade']
print(type(f))

<class 'pandas.core.series.Series'>

## ```Series -> Dtatrame```
   #### ``` Way#1:[[]]```&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp; ```Way#2: pd.DataFrame()```

In [8]:
print(type(pd.DataFrame(df['grade'])))

<class 'pandas.core.frame.DataFrame'>

In [9]:
print(type(df[['grade']]))

<class 'pandas.core.frame.DataFrame'>

## ```Series.Method() ---> numpy.ndarray | Series | Numeric```

In [10]:
print(type(df['grade'].unique()))

<class 'numpy.ndarray'>

In [11]:
print(type(df['grade'].count()))

<class 'numpy.int32'>

In [12]:
print(type(df['grade'].sort_values(ascending= True)))

<class 'pandas.core.series.Series'>

In [13]:
print(type(df['funded_amnt_inv'].astype(str)))

<class 'pandas.core.series.Series'>

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Columns: 145 entries, id to settlement_term
dtypes: float64(115), object(30)
memory usage: 47.1+ MB

In [15]:
print(type((df[['grade']]['grade']).unique())) # [[]] made it DF -> Applying [] made it series -> Series.method() ->ndArray
print(type(pd.DataFrame(df['grade'])['grade'].unique())) # same

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [16]:
print(type(df['loan_amnt'].mean()))

<class 'float'>

## ```Filtering Series ---> Series```

In [17]:
print(type(df['installment'] > 150))

<class 'pandas.core.series.Series'>

## ```DataFrame.Method()---> DataFrame | Series```

#### ```Because Dataframe is made up of Series, therefore, thinking like -  if Series.Method() is applicable, then DataFrame.Method() is *NOT ALWAYS* CORRECT. Recommend way is to make computations on Series and then convert it into Dataframe (if required```

In [18]:
df['grade'].count()

42535

In [19]:
df[['grade']].count()

grade    42535
dtype: int64

In [20]:
df['grade'].head()

0    B
1    C
2    C
3    C
4    B
Name: grade, dtype: object

In [21]:
df[['grade']].head()

  grade
0     B
1     C
2     C
3     C
4     B

In [22]:
print(type(df.head()))
print(type(df.tail()))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [23]:
print(type(df[['funded_amnt_inv']].astype(str)))

<class 'pandas.core.frame.DataFrame'>

#### * - Series.unique() VALID | DataFrame.unique() INVALID*

In [24]:
df['grade'].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G', nan], dtype=object)

In [25]:
#df[['grade']].unique() #INCORRECT, BECAUSE OF UNIQUE OF WHAT FEATURE ?

#### - *Series.describe() VALID | DataFrame.describe() VALID --(For Numerical/NonNumerical)*

In [26]:
df.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,url,dti,delinq_2yrs,inq_last_6mths,...,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,42535.000000,42535.000000,42535.000000,42535.000000,4.253100e+04,0.0,42535.000000,42506.000000,42506.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,160.000000,160.000000,160.000000
mean,NaN,11089.722581,10821.585753,10139.938785,322.623063,6.913656e+04,NaN,13.373043,0.152449,1.081424,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4272.137875,49.905875,1.200000
std,NaN,7410.938391,7146.914675,7131.598014,208.927216,6.409635e+04,NaN,6.726315,0.512406,1.527455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3119.373774,15.563690,4.085255
min,NaN,500.000000,500.000000,0.000000,15.670000,1.896000e+03,NaN,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193.290000,10.690000,0.000000
25%,NaN,5200.000000,5000.000000,4950.000000,165.520000,4.000000e+04,NaN,8.200000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1842.750000,40.000000,0.000000
50%,NaN,9700.000000,9600.000000,8500.000000,277.690000,5.900000e+04,NaN,13.470000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3499.350000,49.970000,0.000000
75%,NaN,15000.000000,15000.000000,14000.000000,428.180000,8.250000e+04,NaN,18.680000,0.000000,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5701.100000,60.652500,0.000000
max,NaN,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,NaN,29.990000,13.000000,33.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14798.200000,92.740000,24.000000

In [27]:
df['grade'].describe()

count     42535
unique        7
top           B
freq      12389
Name: grade, dtype: object

In [28]:
df[['loan_amnt']].describe()

          loan_amnt
count  42535.000000
mean   11089.722581
std     7410.938391
min      500.000000
25%     5200.000000
50%     9700.000000
75%    15000.000000
max    35000.000000

#### - *DataFrame.info() VALID | Series.info() INVALID *

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Columns: 145 entries, id to settlement_term
dtypes: float64(115), object(30)
memory usage: 47.1+ MB

In [30]:
#df['grade'].info() INVALID

In [31]:
df['grade'].value_counts()
#df[['grade']].value_counts() #INVALID

B    12389
A    10183
C     8740
D     6016
E     3394
F     1301
G      512
Name: grade, dtype: int64

#### *```As we read that DataFrame is two Dimention and Series is One Dimention, therefore this is applicable for both Rows and Columns. We can understand this by experimenting with iloc and loc```*

In [32]:
print(type(df.iloc[2:3,6:7]))#2 Dimension
print(type(df.iloc[[2]]))#2 Dimension
print(type(df.iloc[2])) #Single Dimention

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [33]:
#miscellaneous - Applying Python menthod

In [34]:
len(df[['grade']])

42538

In [35]:
len(df['grade'])

42538

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
# <hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

# Column Operations
#### Dataframe Column Operations results an <i>"OUTPUT VIEW"</i>. To make changes on original DataFrame:
        - oldDataFrame = modifiedDataFrame
        - oldDataFrame(... inplace=True)
        - oldSeries = NewSeries

## ```List All Column names```

In [36]:
print(df.columns)
print(len(df.columns))

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)
145

## ```Select Columns In Dataframe```

In [37]:
df[['loan_amnt','settlement_date']].head() # Its just a view!

   loan_amnt settlement_date
0     5000.0             NaN
1     2500.0             NaN
2     2400.0             NaN
3    10000.0             NaN
4     3000.0             NaN

In [38]:
print(df.shape)

(42538, 145)

![image](https://user-images.githubusercontent.com/689226/80778660-c11cf380-8b86-11ea-9ba9-1267636a66d3.png)

## ```Rename Columns```

In [39]:
df.rename(columns = {'member_id':'MEMBER_ID'} , inplace = True)
df.head()

,id,MEMBER_ID,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## ```Choosing index```

In [40]:
df.set_index('id', inplace=True)
df.head()

,MEMBER_ID,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## ```Changing Column Data type```

In [41]:
df['loan_amnt'].astype(str, inplace =True)
# OR
# df['funded_amnt_inv']=df['funded_amnt_inv'].astype(float)

id
NaN                                                 5000.0
NaN                                                 2500.0
NaN                                                 2400.0
NaN                                                10000.0
NaN                                                 3000.0
NaN                                                 5000.0
NaN                                                 7000.0
NaN                                                 3000.0
NaN                                                 5600.0
NaN                                                 5375.0
NaN                                                 6500.0
NaN                                                12000.0
NaN                                                 9000.0
NaN                                                 3000.0
NaN                                                10000.0
NaN                                                 1000.0
NaN                                                10000.0
NaN                                                 3600.0
NaN                                                 6000.0
NaN                                                 9200.0
NaN                                                20250.0
NaN                                                21000.0
NaN                                                10000.0
NaN                                                10000.0
NaN                                                 6000.0
NaN                                                15000.0
NaN                                                15000.0
NaN                                                 5000.0
NaN                                                 4000.0
NaN                                                 8500.0
                                                    ...
NaN                                                 6000.0
NaN                                                 5350.0
NaN                                                 1900.0
NaN                                                10000.0
NaN                                                 2000.0
NaN                                                 6000.0
NaN                                                 4400.0
NaN                                                 1200.0
NaN                                                 5000.0
NaN                                                 1400.0
NaN                                                 1000.0
NaN                                                 5000.0
NaN                                                 2500.0
NaN                                                 3000.0
NaN                                                 2600.0
NaN                                                 1000.0
NaN                                                 1275.0
NaN                                                 6450.0
NaN                                                10500.0
NaN                                                 3000.0
NaN                                                 3000.0
NaN                                                 2000.0
NaN                                                 6500.0
NaN                                                 3500.0
NaN                                                 1000.0
NaN                                                 2525.0
NaN                                                 6500.0
NaN                                                 5000.0
Total amount funded in policy code 1: 460296150        nan
Total amount funded in policy code 2: 0                nan
Name: loan_amnt, Length: 42538, dtype: object

In [42]:
#df['funded_amnt_inv'].mean() //INCORRECT. As we have converted into String

## ```Dataframe Query```

In [43]:
print(type(df['installment'] > 150))

<class 'pandas.core.series.Series'>

In [44]:
print(type(df[(df['installment'] > 150) & (df['funded_amnt'] > 3000)])) # Same as above case of [[]]

<class 'pandas.core.frame.DataFrame'>

In [45]:
# Because the below does not incorporate any method, therefore inplace=True, wont work, rather:
# oldDataFrame = modifiedDataFrame reamins the otion.

In [46]:
df = pd.read_csv('C:\\Users\\Lenovo\\Desktop\\IPY\\DataCleaning\\Data\\Loan.csv', skiprows=1, low_memory=False) 
df= df[(df['installment'] < 150) & (df['funded_amnt'] < 3000)]
df.shape

(3219, 145)

In [47]:
df = pd.read_csv('C:\\Users\\Lenovo\\Desktop\\IPY\\DataCleaning\\Data\\Loan.csv', skiprows=1, low_memory=False) 
oo=df[(df['installment'] > 10) & (df['funded_amnt'] > 300)]
oo.shape

(42535, 145)

## ```Talking about Missing Values```

In [48]:
df['funded_amnt'].fillna((df['funded_amnt'].mean()), inplace=True)

## ```Drop the useless columns, on first instance we noticed URL and DESCRIPTION```

In [49]:
print(len(df.columns)) # applied Python method !

145

In [50]:
df.drop(['url','desc'], axis=1, inplace=True)

In [51]:
print(len(df.columns))

143

## ```Replace Column Values```
This is called Feature Encoding and comes under Feature Engineering

In [52]:
df['disbursement_method'].unique()

array(['Cash', nan], dtype=object)

In [53]:
df.replace({'disbursement_method':{'Cash':1,'nan':0}}, inplace = True)

In [54]:
df[['disbursement_method']].head()

  disbursement_method
0                   1
1                   1
2                   1
3                   1
4                   1

## ```Series can be iterable```

In [55]:
# Let's assume we have a dataframe and there we have a column 'release_date'. An example value is 1995-10-30.
#Now you want to extract only year from this date, so we can do something similar...

for date in df['int_rate']:
    df['int_rate']=(((str(date)).split('%'))[0]) 

df[['int_rate']].head()

  int_rate
0    10.65
1    10.65
2    10.65
3    10.65
4    10.65

## ```Filtering Columns on basis of Null/NaN/NaT/None```

In [56]:
df = pd.read_csv('C:\\Users\\Lenovo\\Desktop\\IPY\\DataCleaning\\Data\\Loan.csv', skiprows=1, low_memory=False)

In [57]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
#Understanding NULL values and sorting them !
Isnull=df.isnull().sum()
Isnull.sort_values(inplace=True, ascending=False)
pd.DataFrame(Isnull).head()

                              0
total_cu_tl               42538
pct_tl_nvr_dlq            42538
mths_since_recent_bc      42538
mths_since_recent_bc_dlq  42538
mths_since_recent_inq     42538

In [59]:
print(len(df.columns))

145

###### Calculating 50% of the data. We will use this output to set our threshold point.

In [60]:
half_count = len(df) / 2
df = df.dropna(thresh=half_count,axis=1) # Drop any column with more than 50% missing values

In [61]:
print(len(df.columns))

54

<br>
<br>
<br>
<br>
<br>
# </hr>
<br>
<br>
<br>
<br>
<br>

# Rows Operations

## ```Understanding iloc```

In [62]:
df = pd.read_csv('C:\\Users\\Lenovo\\Desktop\\IPY\\DataCleaning\\Data\\Loan.csv', skiprows=1, low_memory=False) 
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
df.iloc[2:4,6:8] # i stands for integer, therefore use integers!

  int_rate  installment
2   15.96%        84.33
3   13.49%       339.31

In [64]:
print(type(df.iloc[2:4,6:8]))

<class 'pandas.core.frame.DataFrame'>

In [65]:
df.iloc[2:3,6:7] # i stands for integer, therefore use integers!

  int_rate
2   15.96%

In [66]:
df.iloc[2,6] # i stands for integer, therefore only integers are allowed!

' 15.96%'

In [67]:
df.iloc[[2]]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## ```Understanding loc```

In [68]:
df.loc[2:4,['int_rate','installment']] # these 2&4 are index values

  int_rate  installment
2   15.96%        84.33
3   13.49%       339.31
4   12.69%        67.79

In [69]:
df.loc[[1,2]] #these 1&2 are index values

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## ```Drop Rows```

In [70]:
df.drop([1,3,4], inplace=True)
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,5000.0,5000.0,5000.0,36 months,7.90%,156.46,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,7000.0,7000.0,7000.0,60 months,15.96%,170.08,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,3000.0,3000.0,3000.0,36 months,18.64%,109.43,E,E1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## ```Duplicate Rows```

In [71]:
print(sum(df.duplicated()))
print(df.shape)

0
(42535, 145)

In [72]:
df.drop_duplicates
print(df.shape)

(42535, 145)